<form
  class="row g-3 needs-validation"
  action="/expense/<%= id %>/edit?_method=PUT"
  method="POST"
  novalidate
  enctype="multipart/form-data"
>
  <!--  EXPENSE CATEGORY -->
  <div class="col-md-4">
    <label for="name" class="form-label">Expense Name</label>
    <input
      type="text"
      class="form-control"
      id="name"
      name="name"
      value="<%= name %>"
      required
    />
    <div class="invalid-feedback">Type something!</div>
    <div class="valid-feedback">Amazing!</div>
  </div>

  <!--  BUDGET -->
  <div class="col-md-4">
    <label for="budget_id" class="form-label">Budget</label>
    <select name="budget_id" class="form-control">
      <option value="<%= budget_id %>"><%= budget_name %></option>
      <% budgets.forEach((budget) => { %>
      <option value="<%= budget.id %>"><%= budget.name %></option>
      <% }); %>
    </select>
  </div>

  <!-- EXPENSE AMOUNT -->
  <div class="col-md-4">
    <label for="expense_amount" class="form-label">Expense Amount</label>
    <input
      type="number"
      class="form-control"
      id="expense_amount"
      name="expense_amount"
      value="<%= expense_amount %>"
      required
    />
    <div class="invalid-feedback">Type something!</div>
    <div class="valid-feedback">Amazing!</div>
  </div>

  <!-- NOTE TEXT AREA -->
  <div class="col-md-4">
    <label for="note">Text:</label><br />
    <textarea
      name="note"
      id="note"
      cols="30"
      rows="10"
      class="form-control"
      placeholder="Write something here"
    >
<%= note %></textarea
    ><br />
  </div>

  <!-- SPEND DATE -->
  <div class="col-md-4">
    <label for="date" class="form-label">Date</label>
    <input
      class="form-control"
      type="date"
      name="spend_date"
      id="date"
      min="2015/01/01"
      placeholder="mm/dd/yyyy"
      value="<%= spend_date %>"
      required
    />
    <div class="invalid-feedback">Please enter a date</div>
    <div class="valid-feedback">Remarkable!</div>
  </div>

  <label for="photo" class="form-label">upload photo:</label><br />
  <input type="file" name="photo" />

  <!-- submit button  -->
  <div class="col-12">
    <button class="btn btn-primary" type="submit">Submit form</button>
  </div>
</form>
