<div>
  <a href="/note/<%= results[0].id %>">Note <%= results[0].id %></a>
</div>
<div><b>TYPE:</b> <%= results[0].type_name %></div>
<div><b>FLOCK SIZE:</b> <%= results[0].flock_size %></div>

<div><b>BEHAVIOR:</b>
<% behaviors.behaviors.forEach(behavior => { %>
  <%= behavior.name %>,
<% }) %> 
</div>

<div><b>DATE:</b> <%= results[0].date %></div>
<div>
  <b>NOTE CREATED BY:</b>
  <a href="/users/<%= results[0].created_by_user_id %>"
    ><%= results[0].created_by_username %></a
  >
</div>
<br />
