<%- include('partials/root-charts.ejs') %>


<div id="donutchart" style="width: 900px; height: 500px;"></div>
<div id="point">
</div>

<div class="row">
  <% results.forEach(budget => { %>
    <div class="col-9">
      <h3><%= budget.budget_name %> </h3>
      <h5>Expenditure: $<%= budget.amountSpent %> </h5>
      <h5>Budget: $<%= budget.budget_amount %> </h5>
      <% budget.expenses.forEach(expense => { %>
        <div>
          <%= expense.name %></br>
          $ <%= expense.expense_amount %></br>
          By User: <%= expense.username %></br>
        </br>
        <div>
      <% }) %> 
      </div></br>
    </div>
  <% }) %>
</div>
