<h2><%= notes[0].created_by_username %>'s notes</h2>
<br />
<% notes.forEach((note) => { %>
<div class="row">
  <div class="col-9">
    <div>
      <a href="/note/<%= note.id %>">Note <%= note.id %></a>
    </div>
    <div><b>TYPE:</b> <%= note.type_names %></div>
    <div><b>FLOCK SIZE:</b> <%= note.flock_size %></div>
    <div><b>DATE:</b> <%= note.date %></div>
    <br />
  </div>
</div>
<% }) %>
